main {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
}

// .main-content {
//   background: url(../assets/background-images/anders-jilden-89745-unsplash.jpg) no-repeat center center fixed;
//   background-size: cover;
//   &--expanded {
//     // filter: blur(2px);
//   }
// }
// className={
//   this.props.expanded
//     ? "main-content main-content--expanded"
//     : "main-content"
// }
