.dialog-content-container {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.cancel__btn {
  color: #555555 !important;
  padding: 10px 40px 10px 40px !important;
  margin-top: 8px !important;
  margin-bottom: 6px !important;
}

.save__btn {
  background-color: #b0ceaf !important;
  color: #555555 !important;
  padding: 10px 40px 10px 40px !important;
  margin-top: 8px !important;
  margin-bottom: 6px !important;
}
