.dialog-content-container {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.cancel__btn {
  color: #555555 !important;
}

.save__btn {
  background-color: #b0ceaf !important;
  color: #555555 !important;
}
