.image-grid-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-box:hover,
.image-box:active {
  cursor: pointer;
  border: 3px double #555555;
}

.image-selected {
  border: 6px double #b0ceaf;
}

.image-action {
  &__icon {
    color: white !important;
  }
}
