.image-grid-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-box:hover,
.image-box:active {
  cursor: pointer;
  border: 1px solid red;
}

.image-selected {
  border: 2px solid green;
}
