.main-content {
  //   background: url() no-repeat center center fixed cover;
  &--expanded {
    // filter: blur(2px);
  }

  &__bg {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
}

.clock-weather-container {
  top: 0;
  left: 0;
  position: fixed;
  margin: 20px !important;
}
