.quote {
  position: fixed;
  bottom: 10px;
  text-shadow: #ffffff 2px 0 20px;
}

.quote-icon {
  margin: -5px 0 0px 5px;
}

.quote-text-container {
}

.quote-text {
}

.quote-author-container {
}

.quote-author {
}
