.quote {
  text-shadow: #ffffff 2px 0 20px;
  position: fixed;
  bottom: 10px;
  color: #222629;

  &--dark {
    color: #222629;
  }
  &--light {
    color: white;
  }
}

.quote-container {
}

.quote__icon {
  &--left {
    transform: rotate(180deg);
  }

  &--right {
  }
}

.quote__text {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.quote-author-container {
}

.quote-author {
  margin: 0 0 20px 0;
}
