.quote {
  // text-shadow: #ffffff 2px 0 20px;
  position: fixed;
  bottom: 10px;

  // TODO: remove
  color: white;

  &--dark {
    color: #222629;
  }
  &--light {
    color: white;
  }
}

.quote-container {
}

.quote__icon {
  &--left {
    transform: rotate(180deg);
  }

  &--right {
    //
  }
}

.quote__text {
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
  margin: 0;
  max-width: 700px;
}

.quote-author-container {
}

.quote-author {
  font-size: 20px;
  margin: 0 0 20px 0;
}

.quote-refresh {
  // TODO: remove
  color: white;

  &--dark {
    color: #222629;
  }
  &--light {
    color: white;
  }
}
