.quote {
  position: fixed;
  bottom: 10px;
  text-shadow: #ffffff 2px 0 20px;
}

.quote-container {
}

.quote__icon {
  margin: -5px 5px 0px 5px;
}

.quote__text {
  width: 1000px;
  text-align: center;
}

.quote-author-container {
}

.quote-author {
}
