.search-container {
  padding: 3px 3px;
  display: flex;
  align-items: center;
  width: 600px;
  border-radius: 13px !important;

  &--dark {
    background-color: rgba(0, 0, 0, 1) !important;
    color: white;
  }
  &--light {
    background-color: rgba(255, 255, 255, 1) !important;
    color: #222629 !important;
  }
}

.search__input {
  margin-left: 8px;
  flex: 1;

  &--dark {
    color: white !important;
  }
  &--light {
    color: #222629 !important;
  }
}

.search__btn {
  //
}

.divider {
  width: 2px;
  height: 40px !important;
  margin: 4px !important;
}
