.weathers-container {
  min-width: max-content;
  display: block;

  // TODO: remove
  color: #222629;

  &--dark {
    color: white;
  }
  &--light {
    color: #222629;
  }
}

.weather-header-container {
  min-width: max-content;
}

.location {
  text-transform: capitalize;
  margin: 10px 0 0 0;
}

.weather-icon {
  vertical-align: middle;
  font-size: 33px;
  margin: 10px;
}

.weather-temp {
  font-size: 20px;
  font-weight: bolder;
}

.weather-description {
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0 0 10px 0;
}

.weather-details-container {
  margin: 15px 0 0 30px !important;
}

.weather-details {
  font-size: 12px;
  font-weight: bold;
  margin: 5px;
}
