$pink: #212121;
$orange: #ef5350;
// $faded-white: #fafafc;
// $dark-grey: #e5e5e7;
$yellow: #fcbd78;

$sidebar-width: 170px;

.sidebar {
  width: $sidebar-width;
  background-image: linear-gradient($orange, $pink);
  background-size: 200%;
  background-position: 0 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  transform: translateX(100px);
  transition: 300ms ease-in-out;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;

  &--expanded {
    background-size: 100%;
    background-position: 0 0;
    transform: translateX(0);
  }

  &:hover {
    background-position: 0 0;
  }
}

.sidebar__toggle {
  width: 100%;
  height: 100%;
  height: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background: transparent;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1.8rem;
  padding-bottom: 0;
  transition: 300ms ease;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  background: linear-gradient($yellow 80%, transparent);
  height: 370px;
  border-radius: 100%;
  margin-left: -100px;
  margin-top: -20px;
  z-index: -1;
  opacity: 0;
  transform: scale(0.4) translateY(-400px) translateX(300px);
  margin-left: 0;
  margin-top: 0;
  transition: 400ms ease;

  &:nth-child(2) {
    background: linear-gradient($orange 80%, transparent);
    margin-top: 70px;
    margin-left: 50px;
    transform: scale(0.4) translateY(-400px);
    margin-top: 0;
  }

  .sidebar--expanded & {
    animation: float 6s infinite alternate;
    margin-left: -100px;
    margin-top: -20px;
    opacity: 0.4;
    transform: scale(1) translateY(0);

    &:nth-child(2) {
      animation: float 20s infinite alternate;
      transform: scale(1) translateY(100px) translateX(170px);
    }
  }
}

@keyframes float {
  20% {
    top: 0;
    left: -100px;
  }
  50% {
    left: 0;
  }
  100% {
    top: 500px;
    left: -100px;
  }
}
